@using PagedList.Mvc;
@using PagedList;
@model NGO_DB_Project.Models.Project

@{
    Layout = "_LayoutAdmin";

}
@section naviheader {

    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Project</a>
        </li>
    </ul>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Manage Project Type</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Project</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<style>
    .activeeee {
        background-color: #0d6efd !important;
    }
</style>
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                List Project
            </h3>

            <div class="card-tools">
                <a asp-action="addpro" class="btn btn-primary" style="margin-right:50px">Add new</a>
            </div>
        </div>
        <div class="card-body">
            
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Name</th>
                        <th>Img</th>
                        <th>StartDate </th>
                        <th>EndDate</th>
                        <th>TargetAmount</th>
                        <th>ProjectTypeId </th>
                        <th>Function</th>
                    </tr>
                </thead>

                <tbody id="projectList">

                    @foreach (var item in ViewBag.Pro)
                    {

                        <tr>
                            <td class="text-center">@item.Name</td>
                            @if(@item.Img != null){
                            <td class="text-center">
                                <img src="@item.Img" width="60"/>                              
                            </td>
                            }
                            <td class="text-center">@item.StartDate</td>
                            <td class="text-center">@item.EndDate</td>
                            <td class="text-center">@item.TargetAmount</td>
                            <td class="text-center">@item.ProjectTypeId</td>
                            <td class="text-center">
                                <a asp-area="admin" asp-controller="Project" asp-action="UpdatePro" asp-route-id="@item.Id" class="btn btm-sm btn-primary">Edit</a>
                                <a asp-area="admin" asp-controller="Project" asp-action="DeletePro" asp-route-id="@item.Id" onclick="confirmDelete(@item.Id)" class="btn btm-sm btn-danger btnDelete">Delete</a>

                            </td>
                        </tr>
                    }

            </table>

            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7 mt-3">
                    <ul style="display:flex;">
                        <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;">
                            <a class="page-link " href="/Admin/Project/Index/1">Firstly</a>
                        </li>

                        @if (ViewBag.CurrentPage > 1)
                        {
                            <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;">
                                <a class="page-link " href="/Admin/Project/Index/@(ViewBag.CurrentPage - 1)">@((ViewBag.CurrentPage - 1))</a>
                            </li>
                        }

                        <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;" class="activeeee">
                            <a class="page-link " href="/Admin/Project/Index/@(ViewBag.CurrentPage)">@ViewBag.CurrentPage</a>
                        </li>

                        @if (ViewBag.CurrentPage < ViewBag.TotalPage)
                        {
                            <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;">
                                <a class="page-link " href="/Admin/Project/Index/@(ViewBag.CurrentPage + 1)">@((ViewBag.CurrentPage + 1))</a>
                            </li>
                        }
                        @if (ViewBag.CurrentPage < ViewBag.TotalPage - 1)
                        {
                            <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;">
                                <a class="page-link " href="/Admin/Project/Index/@(ViewBag.CurrentPage + 2)">@((ViewBag.CurrentPage + 2))</a>
                            </li>
                        }
                        <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;">
                            <a class="page-link " href="/Admin/Project/Index/@ViewBag.TotalPage">Final</a>
                        </li>
                    </ul>
                </div>
            </div>



        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
@section scripts {

    <script>
        function confirmDelete(id) {
            if (confirm("Are you sure you want to delete?")) {
                $.ajax({
                    url: '@Url.Action("DeletePro", "Project")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("An error occurred while deleting data.");
                    }
                });
            }
        }
        function search() {
            var keyword = document.getElementById("searchInput").value;

            $.ajax({
                type: "GET",
                url: "/Admin/Project/Index",
                data: { keyword: keyword },
                success: function (data) {
                    $('#projectList').html(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
}
