
@model NGO_DB_Project.Models.Donation
@{
    Layout = "_LayoutAdmin";
}
<form asp-area="Admin" asp-controller="Donation" asp-action="AddDontadmin" method="post">
	<div class="card-body">
		<div class="bs-stepper-content">
			<div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
				<div class="form-group">
					<label for="TargetAmount">Amount</label>
					<input id="targetAmountInput" asp-for="Amount" type="text" class="mdc-text-field__input form-control" />
					<span asp-validation-for="Amount" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label for="Description">Messe</label>
					<textarea asp-for="Description" class="mdc-text-field__input form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Name Project</label>
					<select asp-for="ProjectId" class="form-control">
						<option value="">--Select product--</option>
						@foreach (var item in ViewBag.Pro)
						{
							<option value="@item.Id">@item.Name</option>
						}
					</select>
					<span class="text-danger">@Html.ValidationMessageFor(x => x.ProjectId)</span>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Name Member</label>
					<select asp-for="MemberId" class="form-control">
						<option value="">--Select Member--</option>
						@foreach (var item in ViewBag.Mem)
						{
							<option value="@item.Id">@item.Username</option>
						}
					</select>
					<span class="text-danger">@Html.ValidationMessageFor(x => x.MemberId)</span>
				</div>
				<div class="form-group">
					<a href="index" class="btn btn-danger">Exit</a>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>
@section scripts {

	<script>

		//gía tiền
		$(document).ready(function () {
			$('#targetAmountInput').on('input', function () {
				var inputVal = $(this).val();
				var newVal = inputVal.replace(/\D/g, '');
				newVal = newVal.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
				$(this).data('raw-value', newVal);
				$(this).val(newVal);
			});
		});
		$('#formEndDate').submit(function () {
			var rawValue = $('#targetAmountInput').data('raw-value');
			// Bạn có thể sử dụng rawValue để thực hiện các thao tác tiếp theo, ví dụ: chuyển đổi thành kiểu số
		});


	</script>

}