@using PagedList.Mvc;
@using PagedList;
@model IPagedList<NGO_DB_Project.Models.ProjectType>

@{
    Layout = "_LayoutAdmin";

}


@section naviheader {

    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Project Type</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Manage Project Type</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Project Type</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<style>
    .activeeee {
        background-color: #0d6efd !important;
    }
</style>
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                List Project Type
            </h3>

            <div class="card-tools">
                <a asp-action="addpt" class="btn btn-primary" style="margin-right:50px">Add new</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>STT</th>
                        <th>TypeName </th>
                        <th>Function</th>

                    </tr>
                </thead>

                <tbody>

                    @{
                        //không hiện id ở stt
                        var index = 1;
                        index = index + (ViewBag.CurrentPage - 1) * 5;
                    }

                    @foreach (var item in ViewBag.ProT)
                    {

                        <tr id="trow_@item.Id">
                            <td class="text-center">@index</td>
                            <td class="text-center">@item.TypeName</td>
                            <td class="text-center">
                                <a asp-area="admin" asp-controller="ProjectType" asp-action="UpdatePT" asp-route-id="@item.Id" class="btn btm-sm btn-primary">Edit</a>
                                <a asp-area="admin" asp-controller="ProjectType" asp-action="DeletePT" asp-route-id="@item.Id" onclick="confirmDelete(@item.Id)" class="btn btm-sm btn-danger btnDelete">Delete</a>
                            </td>
                        </tr>
                        index++;
                        }

            </table>

            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7 mt-3">
                    <ul style="display:flex;">
                        <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;">
                            <a class="page-link " href="/Admin/ProjectType/Index/1">Firstly</a>
                        </li>
                        @{
                            if (ViewBag.CurrentPage == 1)
                            {
                                @for (int i = 1; i <= ViewBag.TotalPage; i++)
                                {
                                    <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;" class="@(i == ViewBag.CurrentPage ? "activeeee" : "")">
                                        <a class="page-link " href="/Admin/ProjectType/Index/@i">@i</a>
                                    </li>
                                }
                            }
                            else
                            {
                                if (ViewBag.CurrentPage + 2 > ViewBag.TotalPage)
                                {
                                    @for (int i = ViewBag.CurrentPage; i <= ViewBag.TotalPage; i++)
                                    {
                                        <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;" class="@(i == ViewBag.CurrentPage ? "activeeee" : "")">
                                            <a class="page-link " href="/Admin/ProjectType/Index/@i">@i</a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    if (ViewBag.CurrentPage == ViewBag.TotalPage)
                                    {
                                        @for (int i = ViewBag.TotalPage - 1; i <= ViewBag.TotalPage; i++)
                                        {
                                            <li style="list-style-type:none;padding:5px;border:1px solid black;margin:4px; border-radius:5px;" class="@(i == ViewBag.CurrentPage ? "activeeee" : "")">
                                                <a class="page-link " href="/Admin/ProjectType/Index/@i">@i</a>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        @for (int i = ViewBag.CurrentPage - 1; i <= ViewBag.CurrentPage + 1; i++)
                                        {
                                            <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;" class="@(i == ViewBag.CurrentPage ? "activeeee" : "")">
                                                <a class="page-link " href="/Admin/ProjectType/Index/@i">@i</a>
                                            </li>
                                        }
                                    }

                                }

                            }

                        }

                        <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;">
                            <a class="page-link " href="/Admin/ProjectType/Index/@ViewBag.TotalPage">Final</a>
                        </li>
                    </ul>
                </div>
            </div>  
        </div>
    </div>

</section>
@section scripts {

    <script>
        function confirmDelete(id) {
            if (confirm("Are you sure you want to delete?")) {
                $.ajax({
                    url: '@Url.Action("DeletePT", "ProjectType")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("Đã xảy ra lỗi khi xóa dữ liệu.");
                    }
                });
            }
        }
    </script>
}
